<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<title>森源艺佳</title>
	<link rel="stylesheet" href="css/public.css" />
	<link rel="stylesheet" href="css/shutter.css">
	<link rel="stylesheet" href="css/index.css">
	
</head>
<body>
		<div class="header">
			 <img src="images/logo.jpg" />
			 <span><img src="images/call.jpg" style="width:35px;margin-top:10px;margin-right:5px;"> <i>400-6333-701</i></span>
			 <p>————  &nbsp;&nbsp;森 态 健 康  &nbsp; &nbsp; 源 于 自 然   &nbsp; &nbsp; 100% 实 木  &nbsp;————</p>
		</div>
	<div class="nav_background">
		<div class="nav">
			<ul>
				<li><a href="/" class="hover">网站首页</a></li>
				<li><a href="aboutUs">关于我们</a></li>
				<li><a href="productCenter">产品中心</a></li>
				<li><a href="news">新闻中心</a></li>
				<li><a href="householdMaintenance">家居保养</a></li>
				<li><a href="serviceAssurance">服务保障</a></li>
				<li><a href="storesNavigation">门店导航</a></li>
				<li><a href="JoinTheService">加盟服务</a></li>
				<li><a href="customizedService">定制服务</a></li>
			</ul>
		</div>
	</div>
	<div class="lunbo">
		<div class="shutter">
			<div class="shutter-img">
			  <a href="#"><!--<img src="images/1.jpg" >--></a>
			  <a href="#"><!--<img src="images/2.jpg" >--></a>
			  <a href="#"><!--<img src="images/3.jpg" >--></a>
			  <a href="#"><!--<img src="images/4.jpg" >--></a>
			</div>
			<ul class="shutter-btn">
			  <li class="prev"></li>
			  <li class="next"></li>
			</ul>
			<!--<div class="shutter-desc">
			  <p>Iron Man</p>
			</div>-->
		</div>
	</div>
	<div class="StarProduct">    <!--明星产品-->
		  <div class="title">
		  	   <h3>旗下明星组合</h3>
		  	   <p>—— <span> Star Combination </span> ——</p>
		  	   <p>富/贵 典/雅 尽/在/森/源/艺/佳</p>
		  </div>
		  <div class="Product"> 
		<!--1-->   <a href="ProductList?Stuff=1/1/2"><div class="Product">
		  	   		<div class="img"><img src="images/ktzd.jpg"></div>
		  	   		<div class="introduce_1" style="float: right;">
		  	   			<div class="font">   
		  	   			  <h4>客厅组合 ● 沙发 + 茶几</h4>
		  	   			  <p>价值与时间同步增长的艺术杰作</p>
		  	   			</div>
		  	   			<div class="introduce_img">
		  	   			  <img src="images/ktyx.jpg" />
		  	   			</div>
		  	   		</div>
 	   	  </div></a>
 	   	 </div>
<!--2-->   	<div class="Product">
		  	   	<a href="productCenter?Stuff=1/1/2"><div class="img"><img src="images/kdzx.jpg"></div>
		  	   		<div class="introduce_2" style="float: left;">
		  	   			<div class="font" >
		  	   			  <h4>客厅  ● 电视柜</h4>
		  	   			  <p>演绎时尚尽显华贵</p>
		  	   			</div>
		  	   			  	<img src="images/kdyd.jpg" />
		  	   		</div>
		  	   </div>
		  	    <div class="Product">
		  	   		<a href="productCenter?Stuff=1/1/3"><div class="img" ><img src="images/sfzd.jpg"></div>
		  	   		<div class="introduce_1" style="float: right;">
		  	   			<div class="font">   
		  	   			  <h4> 书房组合 ● 书柜 + 书桌 </h4>
		  	   			  <p>精湛品质永恒之选</p>
		  	   			</div>
		  	   			<div class="introduce_img">
		  	   			  <img src="images/sfyx.jpg" id="location_4"/>
		  	   			</div>
		  	   		</div></a>
		  	   </div>
		  	    <div class="Product">
		  	   		<a href="productCenter?Stuff=1/1/4"><div class="img"><img src="images/proct.jpg" id="location_1"></div>
		  	   		<div class="introduce_2" style="float: right;" >
		  	   			<div class="font" style="float: right;">
		  	   			  <h4>餐厅组合 ● 酒柜 + 餐桌椅</h4>
		  	   			  <p>古典与现代的完美结合</p>
		  	   			</div>
		  	   			 <img src="images/proct_r.jpg" id="location_2">
		  	   		</div></a>
		  	   </div>
		  	    <div class="Product Product_last">
		  	   		<a href="productCenter?Stuff=1/1/5"><div class="img" ><img src="images/wszx.jpg"></div>
		  	   		<div class="introduce_2" style="float: left;">
		  	   			<div class="font" style="float: right;">
		  	   			  <h4>卧室组合 ● 衣柜 + 床</h4>
		  	   			  <p>给您一个温馨的家</p>
		  	   			</div>
		  	   			  	<img src="images/wsyd.jpg" id="location_3"/>
		  	   		</div></a>
		  	   </div>

		  <div class="title">
		  	   <h3>旗下明星产品</h3>
		  	   <p>—— <span> Star Single </span> ——</p>
		  	   <p>超/越/时/光/的/美</p>
		  </div>
		  <div class="produt_picture">  <!--明星图片-->
		  	   <ul>
		  	   		<!--<li><a href="#"><img src="images/Proct1.jpg"></a></li>
		  	   		<li><a href="#"><img src="images/Proct1.jpg"></a></li>
		  	   		<li><a href="#"><img src="images/Proct1.jpg"></a></li>
		  	   		<li><a href="#"><img src="images/Proct1.jpg"></a></li>-->
		  	   </ul>
		  	   <ul>
		  	   		<!--<li><a href="#"><img src="images/Proct1.jpg"></a></li>
		  	   		<li><a href="#"><img src="images/Proct1.jpg"></a></li>
		  	   		<li><a href="#"><img src="images/Proct1.jpg"></a></li>
		  	   		<li><a href="#"><img src="images/Proct1.jpg"></a></li>-->
		  	   </ul>
		  </div>
		  <div class="title">
		  	   <h3>企业资讯速递</h3>
		  	   <p>—— <span> News </span> ——</p>
		  	   <p>关注实时新闻  / 了解企业资讯</p>
		  </div>
		  <div class="new">
		  	 	<div class="news_font">
		  	 		<ul>
		  	 			<!--<li><a href="#"> 
		  	 				<div class="new_time">
		  	 					 <p>09</p>
		  	 					 <p>2018-08</p>
		  	 				</div>
		  	 				<div class="new_title">
		  	 					<h3>新闻的标题</h3>
		  	 					<p>新闻的内容段落</p>
		  	 				</div>
		  	 				</a>
		  	 			</li>
		  	 			<li><a href="#"> 
		  	 				<div class="new_time">
		  	 					 <p>09</p>
		  	 					 <p>2018-08</p>
		  	 				</div>
		  	 				<div class="new_title">
		  	 					<h3>新闻的标题</h3>
		  	 					<p>新闻的内容段落</p>
		  	 				</div></a>
		  	 			</li>-->
		  	 			<!--<li><a href="#"> 
		  	 				<div class="new_time">
		  	 					 <p>09</p>
		  	 					 <p>2018-08</p>
		  	 				</div>
		  	 				<div class="new_title">
		  	 					<h3>新闻的标题</h3>
		  	 					<p>新闻的内容段落</p>
		  	 				</div></a>
		  	 			</li>-->
		  	 		</ul>
		  	 	</div>
		  	 	<div class="news_img">
		  	 		<p><a href="news">MORE</a></p>
		  	 		<img  src="images/neews.jpg"/>
		  	 	</div>
		  	 	
		  </div>
	</div>
	<div class="intro_index_background"> <!--首页简介-->
		  <div class="Masked">   <!--遮罩层-->
			  <div class="intro_index">
			  		<h1>北京森源艺佳</h1>
			  		<p>北京森源艺佳家具有限公司成立于2007年，座落于北京通州工业园
			  		 ，公司是一家专业从事高档实木家居的大型制造企业，
			  		拥有一座大型现代化标准厂房及一批素质优秀的管理人才...</p>
			  		<a href="aboutUs">MORE</a><br />
			  		<ul>
			  			<li>中国绿色环保产品</li>
			  			<li>全国产品质量公正全国十佳品牌</li>
			  			<li>中国绿色环保产品</li>
			  			<li>全国产品质量公正全国十佳品牌</li>
			  		</ul>
			  </div>
		  </div>
	</div> 
	<!--页面底部-->
	<div id="footer_background">
	<div id="footer">
		<p>———— &nbsp; CONTACT &nbsp; ————</p>
		<div id="footer-left" class="lf">
			<ul class="top">
				<li><b>您好，HELLO!</b></li>
				<li>
					<p>
						感谢您来到北京森源艺佳家居有限公司，若您有问题咨询或有合作意向，可以给我们留言。<br/>也可以使用以下方式联系我们，我们将仅尽快给您回复，并为您提供真诚的服务，谢谢！
					</p>
				</li>
			</ul>
			<ul class="footer">
				<li class="name">张三</li>
				<li class="num">12345678910</li>
				<li class="email">hh_liujie@163.com</li>
				<li class="www">http://www.bjsenyuanyijia.com/</li>
			</ul>
		</div>
		<div id="footer-right" class="rt">
			<h3>我要留言</h3>
			<div class="form">
				<p>您的称呼 : <input type="text" name="name"></p>
				<p>联系电话 : 
					<input  id="phone" type="text" name="phone"/>
					<b class="jd">*</b>
				</p>
				<p><span>留言内容 :</span> <textarea id="cct" name="content"></textarea></p>
				<button id="sub_data">提交留言</button>
			</div>
		</div>
		
		<div class="IMG">
		<img class="our1" src="images/our1.jpg"/>
		<img class="our2" src="images/our2.png"/></div>
	</div>
	</div>
	<script src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/public.js" ></script>
	<script type="text/javascript" src="js/index.js" ></script>
	<script src="js/velocity.js"></script>
	<script src="js/shutter.js"></script>
	<script>
	$(function () {
	  $('.shutter').shutter({
		isAutoPlay: true, // 是否自动播放
		playInterval: 3000, // 自动播放时间
		curDisplay: 4, // 当前显示页
		fullPage: true // 是否全屏展示
	  });
	});
	</script>
	
</body>
</html>