<div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong> <a href="" style="float:right; display:none;">添加字段</a></div>
    <div class="padding border-bottom">
      <ul class="search" style="padding-left:10px;">
        <li> <a class="button border-main icon-plus-square-o" href="/admin/newsadd"> 添加内容</a> </li>
        <li class="float-right">
          <input type="text" placeholder="请输入搜索名称关键字" name="keywords" class="input" style="width:250px; line-height:17px;display:inline-block" />
          <a href="javascript:void(0)" class="button border-main icon-search" onclick="changesearch()" > 搜索</a></li>
      </ul>
    </div>
    <table class="table table-hover text-center" >
      <thead>
      	<tr>
      	<th width="100" style="text-align:left; padding-left:20px;"><input type="checkbox" id="checkall"/>
          全选 </th>
        <th>新闻标题</th>
        <th>图片</th>  
        <th>新闻内容</th>
        <th width="10%">新闻时间</th>
        <th width="310">操作</th>
      </tr>
      </thead>
      <!--存放列表内容-->
      <tbody name="list" id="newsvo"></tbody>
    </table>
    <div style="width:100%">
    	<table style="margin: 0 auto;">
    		<tr>
		        <td colspan="8">
		        	<div class="pagelist news_pagelist">
			        	<a>上一页</a> 
			        	<a class="current">1</a>
			        	<a>2</a>
			        	<a>3</a>
			        	<a>4</a>
			        	<a>5</a>
			        	<a>下一页</a>
			        	<a>尾页</a> 
			        </div>
		        </td>
	      	</tr>
    	</table>
    </div>
</div>
<script type="text/javascript">
	//上来拉取数据
	page5(0);
	//页面拉取函数
	function page5(page_num){
		$.ajax({
			type:"get",
			url:"/admin/newslist",
			data:{
				"num":page_num
			},
			async:true,
			success:function(data){
				//console.log(data.data);
				$("#newsvo").text('');//清除之前添加的暂无内容的信息
				if(data.result==1){
					//拿到了数据
					for(var i=0;i<data.data.length;i++){
						$("#newsvo").append("<tr><td><input type='checkbox' name='id[]' value='' /></td><td></td><td width='10%'><img 'alt='' width='70' height='50'/></td><td></td><td></td><td><div class='button-group'><button class='button border-main k_alter_new'><span class='icon-edit'></span>修改</button><button class='button border-red dele_new'><span class='icon-trash-o'></span>删除</button></div></td></tr>");//加入行
							let world=data.data[i].news_title;
							world=world.slice(0,15);//截取15个字
						$("#newsvo>tr:eq("+i+")>td:eq(1)").text(world);
						$("#newsvo>tr:eq("+i+")>td:eq(2)>img").attr("src","/upload/"+data.data[i].news_image);
							let new_world=data.data[i].news_content;
								new_world=new_world.slice(0,20);
						$("#newsvo>tr:eq("+i+")>td:eq(3)").text(new_world);
						var time=data.data[i].news_time.split('-');
						$("#newsvo>tr:eq("+i+")>td:eq(4)").text(time[0]+'-'+time[1]+'-'+time[2])
						$("#newsvo>tr:eq("+i+")>td:eq(5)>div>button").attr("data-id",data.data[i].ID);
					}
				}else{
					$("#newsvo").append("<tr style='text-align: center; height: 20px;'><td></td><td></td><td>暂无内容，请先添加</td></tr>");
				}
				//操作删除和修改的
				$(".dele_new").click(function(){
					var c_id=$(this).attr("data-id");
					//console.log(c_id);
					if(confirm("确认删除吗？")){
						$.ajax({
							type:"delete",
							url:"/admin/news_delete",
							data:{"id":c_id},
							async:true,
							success:function(data){
								if(data.result==-1){
									alert("删除失败");	
									window.location='/admin'
								}else{
									alert("删除成功");
									window.location='/admin'
								}
							}
						});
					}
				});
				//修改
				$(".k_alter_new").click(function(){//将页面转换到修改页面
					var c_id=$(this).attr("data-id");
					window.location='/admin/newalter'+'?c_id='+c_id;
				});		
			}
		});
	}
	
	//分页函数
	$(".news_pagelist").delegate('a','click',function(){
		var test_biao=$(this).text();
		if(test_biao!='下一页'&&test_biao!='上一页'){//直接点击时
	 		var page_num=parseInt(test_biao);//获取所选中的页码数字并转化为int型
			$(this).addClass('current').siblings().removeClass('current');//为选中添加状态，移除其兄弟元素的选中状态
			page5(page_num);//调用函数
	 	}else{//当点击的不是数字时
	 		if(test_biao=='下一页'){
	 			var ac_text=parseInt($(".news_pagelist a.current").html());//获取现在所处位置的内容
	 			var te_num=ac_text%5;//对应到li所处的位置上
	 			var last_right_num=parseInt($(".news_pagelist>a:eq(5)").html());//获取最右边的数字
	 			//console.log(ac_text,last_right_num);
	 			if(ac_text<last_right_num){//当选中状态不是最后一个时
	 				$(".news_pagelist>a:eq("+(te_num+1)+")").addClass('current').siblings().removeClass('current');//为下一个添加选中状态
	 				page5((ac_text+1));//调用上面的函数
	 			}else{
	 				var top_num=ac_text;//留住上一页的号码
	 				for(var i=1;i<6;i++){
	    				$(".news_pagelist>a:eq("+i+")").text('');//先移除
	    				$(".news_pagelist>a:eq("+i+")").text((ac_text+1));
	    				ac_text++;
    				}
	 				page5((top_num+1));//调用上面的函数
	 				$(".news_pagelist>a:eq(1)").addClass('current').siblings().removeClass('current');//为下一个添加选中状态
	 			}
	 		}else{//为<<箭头时
	 			var ac_text=parseInt($(".news_pagelist a.current").html());//获取现在所处位置的内容
	 			var te_num=ac_text%5;//对应到li所处的位置上
	 			if(te_num==0){
	 				te_num=5;
	 			}
	 			var first_left_num=parseInt($(".news_pagelist>a:eq(1)").html());//获取最左边的数字
 				if(ac_text>first_left_num){//当选中状态不是第一个时
	 				$(".news_pagelist>a:eq("+(te_num-1)+")").addClass('current').siblings().removeClass('current');//为下一个添加选中状态
	 				page5((ac_text-1));//调用上面的函数
	 			}else{
	 				var top_num=ac_text;//留住上一页的号码
	 				if(top_num!=1){
	 					for(var i=5;i>0;i--){
		    				$(".news_pagelist>a:eq("+i+")").text('');//先移除
		    				$(".news_pagelist>a:eq("+i+")").text((ac_text-1));
		    				ac_text--;
	    				}
	 					page5((top_num-1));//调用上面的函数
	 					$(".news_pagelist>a:eq(5)").addClass('current').siblings().removeClass('current');//为最后个添加选中状态
	 				}
	 				
	 			}

	 		}
	 	}
	})
	//搜索
	function changesearch(){	
		var texts=$("input[name=keywords]").val();
		
	}
	
	//单个删除
	function del(id,mid,iscid){
		if(confirm("您确定要删除吗?")){
			
		}
	}
	
	//全选
	$("#checkall").click(function(){ 
	  $("input[name='id[]']").each(function(){
		  if (this.checked) {
			  this.checked = false;
		  }
		  else {
			  this.checked = true;
		  }
	  });
	})
	
	//批量删除
	function DelSelect(){
		var Checkbox=false;
		 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		var t=confirm("您确认要删除选中的内容吗？");
		if (t==false) return false;		
		$("#listform").submit();		
	}
	else{
		alert("请选择您要删除的内容!");
			return false;
		}
	}
	
	

</script>
