<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title>明星产品修改</title>
<link rel="stylesheet" href="../css/pintuer.css">
<link rel="stylesheet" href="../css/admin.css">
<link rel="stylesheet" href="../css/cropper.css" />
<script src="../js/jquery-1.11.3.js"></script>
<script src="../js/pintuer.js"></script>
<script src="../js/cropper.js"></script>
<style>
#cropedBigImg{
min-height:40px;
padding:0px;

}
</style>
</head>
<body>
<!--导航条-->
<div class="header bg-main">
  <div class="logo margin-big-left fadein-top">
    <h1><img src="../images/y.jpg" class="radius-circle rotate-hover" height="50" alt="" />森源艺佳后台管理中心</h1>
  </div>
  <div class="head-l"><a class="button button-little bg-green" href="http://www.chengppcc.cn/" target="_blank"><span class="icon-home"></span> 前台首页</a> &nbsp;&nbsp;<a href="##" class="button button-little bg-blue"><span class="icon-wrench"></span> 清除缓存</a> &nbsp;&nbsp;<a class="button button-little bg-red" href="/admin/enter"><span class="icon-power-off"></span> 退出登录</a> </div>
</div>
<!--列表-->
<div class="leftnav">
  <div class="leftnav-title"><strong><span class="icon-list"></span>菜单列表</strong></div>
  <h2><span class="icon-user"></span>首页</h2>
  <ul style="display:block">
    <li class="home_lun"><a target="right"><span class="icon-caret-right"></span>首页轮播</a></li>
    <li class="home_sm"><a target="right"><span class="icon-caret-right"></span>明星产品</a></li>
  </ul>   
  <h2><span class="icon-pencil-square-o"></span>产品中心</h2>
  <ul>
    <li class="pro_tz"><a target="right"><span class="icon-caret-right"></span>特征设置</a></li>
    <li class="pro_tzm"><a target="right"><span class="icon-caret-right"></span>产品列表</a></li>      
  </ul> 
  <h2><span class="icon-pencil-square-o"></span>新闻中心</h2>
  <ul>
    <li class="new_z"><a target="right"><span class="icon-caret-right"></span>新闻列表</a></li>       
  </ul>
  <h2><span class="icon-pencil-square-o"></span>定制服务</h2>
  <ul>
    <li><a  target="right"><span class="icon-caret-right"></span>预约设置</a></li>
    <li><a  target="right"><span class="icon-caret-right"></span>量尺设置</a></li>
    <li><a  target="right"><span class="icon-caret-right"></span>设计区域</a></li>        
  </ul>
  <h2><span class="icon-pencil-square-o"></span>关于我们</h2>
  <ul>
    <li><a target="right"><span class="icon-caret-right"></span>公司简介</a></li>
    <li><a target="right"><span class="icon-caret-right"></span>荣誉资质</a></li>
    <li><a target="right"><span class="icon-caret-right"></span>公司文化</a></li>        
  	<li><a target="right"><span class="icon-caret-right"></span>发展历程</a></li> 
  </ul>
  <h2><span class="icon-pencil-square-o"></span>留言管理</h2>
  <ul>
    <li><a  target="right"><span class="icon-caret-right"></span>留言列表</a></li>
  </ul>
</div>
<!--脚本区-->
<script type="text/javascript">
$(function(){
  $(".leftnav h2").click(function(){
	  $(this).next().slideToggle(200);	
	  $(this).toggleClass("on"); 
  })
  $(".leftnav ul li a").click(function(){
	    $("#a_leader_txt").text($(this).text());
  		$(".leftnav ul li a").removeClass("on");
		$(this).addClass("on");
  })
});
</script>
<ul class="bread">
  <li><a href="{:U('Index/info')}" target="right" class="icon-home"> 首页</a></li>
  <li><a href="##" id="a_leader_txt">网站信息</a></li>
</ul>
<!--内容区-->
<div class="panel admin-panel admin">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>修改内容</strong></div>
  <div class="body-content">
    <div class="form-x">  
      <div class="form-group">
        <div class="label">
          <label>名称：</label>
        </div>
        <div class="field">
          <input id="tu_name" type="text" class="input w25" value="" name="title" data-validate="required:请输入标题" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>图片：</label>
        </div>
        <div class="field yuimga">
          <img id="cropedBigImg" name="img" class="input tips" style="width:25%; float:left;"  value=""  data-toggle="hover" data-place="right" data-image=""/>
          <span>
          	<input class="button bg-blue margin-left" id="image1" value="修改图片"  style="float:left; cursor: pointer;">
          </span>
        </div>
        <div class="container hidden">
        		<input type="file" id="file">
		        <img src="" alt="" id="img">
		    </div>
		    <div class="preview hidden">
				<img src="" alt="" id="imga">
		   	</div>
		   	<div style="clear:both">
		   		<button class="button bg-main qie hidden">裁剪</button>
		   	</div>
		   	<div class="field hidden jie">
		   		<img id="cropedBigImg1" name="img" class="input tips" style="width:60%; margin: 0 auto;"  value=""  data-toggle="hover" data-place="right" data-image=""/>
		   	</div>
      </div>     
      <div class="form-group">
        <div class="label">
          <label>设计理念：</label>
        </div>
        <div class="field">
          <textarea id="miao" class="input" name="note" style=" height:90px;"></textarea>
          <div class="tips"></div>
        </div>
      </div>
      <div class="clear"></div>

      <div class="form-group">
        <div class="label">
          <label></label>
          <div class="hidden" id="sm_biao">0</div>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o sub" > 提交</button>
           <a href="/admin" class="button bg-main icon-check-square-o " >返回</a>
        </div>
      </div>
    </div>
  </div>
  	  <script>
  	  	(function(){
	  	  		var reg = new RegExp(/[^=]+/g);//^以什么开头，匹配全部   
						var r = window.location.search.substr(1).match(reg); 
						var t_id=parseInt(r[1]);
					$.ajax({
							type:"post",
							url:"/admin/stalters",
							async:true,
							data:{"id":t_id},
							success:function(data){
									//console.log(data.data);
									$("#tu_name").val(data.data[0].name);
									$("#miao").text(data.data[0].carousel);
									$("#cropedBigImg").attr("src","/upload/"+data.data[0].img_url);
									$("#image1").click(function(){
											$(".container").removeClass("hidden");
											$(".preview").removeClass("hidden");
											$(".qie").removeClass("hidden");
											$(".yuimga").addClass("hidden");
							
								//剪切-*****************************
											var image = document.getElementById('img');
					        		var cropper, canvas;
					        		var wid,hei;
					        		$('#file').change(function(e){
					        				$("#sm_biao").html('1');//说明图片改变了
			            				var file;
			            				var files = e.target.files;
			             				if(files && files.length > 0){
			                				file = URL.createObjectURL(files[0]);
			                				$('#img').attr({'src': file})
			                				var images= new Image();
		             							images.onload=function(){
					             					var width=parseInt(images.width);
					             					var height=parseInt(images.height);
		             								if(width>height){
		             									wid=3;
		             									hei=2;
		             								}else{
		             									wid=2;
		             									hei=3;
		             								}
			            						}	
			             						var cropper = new Cropper(image,{
										             	//裁剪框比例
																	aspectRatio: wid/hei,    
																	viewMode:1,
																	background:false,
																	zoomable:false,//是否允许放大图片
																	scalable:true,//是否允许缩小图片
																	dragMode :'crop',
									                cropBoxResizable:true,
									                autoCropArea:0.8,//定义自动裁剪面积大小(百分比)和图片进行对比
									               	mouseWheelZoom:true,//是否允许通过鼠标滚轮来缩放图片
									                autoCrop:true,//自动裁剪
									                background:true,
									                modal:true,
									                guides:true,
									                highlight:false,   
									                resizable:true,
			
				                					crop: function (event) { //剪裁框发生变化执行的函数。
									                    canvas = cropper.getCroppedCanvas({  //使用canvas绘制一个宽和高200的图片
									  											width: 600,
									                        height: 400,
									                    });
							                    		$('#imga').attr("src", canvas.toDataURL("image/png", 0.3))  //使用canvas toDataURL方法把图片转换为base64格式
							                    		$("#cropedBigImg1").attr("src", canvas.toDataURL("image/png", 0.3))
									                	//当图片存放
										                	$(".qie").click(function(){
											                		$(".container").addClass('hidden');
											                		$(".preview").addClass('hidden');
											                		$(".jie").removeClass('hidden');
											                		$(".qie").addClass("hidden");
										                	})
					                				}
				                			});
			             				}
				            	});//文件更改
			        		});//被点击
								//})
						//****************************************
							}
					});
					//将base64格式图片转换为文件形式
			    function dataURLtoBlob(dataurl) {  
			        var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
			            bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
			        while (n--) {
			            u8arr[n] = bstr.charCodeAt(n);
			        }
			        return new Blob([u8arr], { type: mime });
			    }
					$(".sub").click(function(){
						var name=$("#tu_name").val();
						var miao=$("#miao").val();
						var sm_b=parseInt($("#sm_biao").html())
						if(sm_b==1){//表示修改图片了
							//var c_img=$('#image1').prop('files');//获取文件图片
							if(name!=''&&img.length!=0){//必须有名字和图片
								var file = dataURLtoBlob($('#imga').attr("src"));  //将base64格式图片转换为文件形式
		    				var formData = new FormData();
		    				var newImg = new Date().getTime() + '.jpg';   //给图片添加文件名   如果没有文件名会报错
		    				formData.append('file', file, newImg)  //formData对象添加文件
								console.log(formData);
									//发送图片以外的数据
									$.ajax({
										type:"post",
										url:"/admin/home_stalter",
										data:{
												"id":t_id,
											 "name":name,
											 "miao":miao
										},
										dataType: 'JSON',
										async:true,
										success:function(data){
											if(data.result==1){
													$.ajax({
														type:"post",
														url:"/admin/homeStlterImage"+"?id="+t_id,
														data:formData,
														dataType: 'JSON',
														contentType:false,
														processData:false,
														success:function(data){
															if(data.result==1){
																alert("修改成功");
																window.location='/admin'
															}else{
																alert("修改失败");
																window.location='/admin'
															}
														}
											});
											}
											
										}
									});
							}
						}else{//表示不修改图片
							$.ajax({
								type:"post",
										url:"/admin/home_stalter",
										data:{
												"id":t_id,
											 "name":name,
											 "miao":miao
										},
										dataType: 'JSON',
										async:true,
										success:function(data){
											if(data.result==1){
													alert("修改成功");
													window.location='/admin'
												}else{
													alert("修改失败");
													window.location='/admin'
												}
										}
							});
						}
						
					})
					
  	  	})()
		   $('#image1').on('change',function(){
		    	var filePath = $(this).val(),         //获取到input的value，里面是文件的路径
		    		fileFormat = filePath.substring(filePath.lastIndexOf(".")).toLowerCase(),
		    		src = window.URL.createObjectURL(this.files[0]); //转成可以在本地预览的格式
		    		
		    	// 检查是否是图片
		    	if( !fileFormat.match(/.png|.jpg|.jpeg/) ) {
		    		error_prompt_alert('上传错误,文件格式必须为：png/jpg/jpeg');
		        	return;  
		       }
		       $('#cropedBigImg').attr('src',src);
				});
				
	  </script>
</div>
</body>
</html>