<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title>特征添加</title>
<link rel="stylesheet" href="../css/pintuer.css">
<link rel="stylesheet" href="../css/admin.css">
<script src="../js/jquery-1.11.3.js"></script>
<script src="../js/pintuer.js"></script>
<style>
#cropedBigImg{
min-height:40px;
padding:0px;

}
</style>
</head>
<body>
<!--导航条-->
<div class="header bg-main">
  <div class="logo margin-big-left fadein-top">
    <h1><img src="../images/y.jpg" class="radius-circle rotate-hover" height="50" alt="" />森源艺佳后台管理中心</h1>
  </div>
  <div class="head-l"><a class="button button-little bg-green" href="http://www.chengppcc.cn/" target="_blank"><span class="icon-home"></span> 前台首页</a> &nbsp;&nbsp;<a href="##" class="button button-little bg-blue"><span class="icon-wrench"></span> 清除缓存</a> &nbsp;&nbsp;<a class="button button-little bg-red" href="/admin/enter"><span class="icon-power-off"></span> 退出登录</a> </div>
</div>
<!--列表-->
<div class="leftnav">
  <div class="leftnav-title"><strong><span class="icon-list"></span>菜单列表</strong></div>
  <h2><span class="icon-user"></span>首页</h2>
  <ul style="display:block">
    <li class="home_lun"><a target="right"><span class="icon-caret-right"></span>首页轮播</a></li>
    <li class="home_sm"><a target="right"><span class="icon-caret-right"></span>明星产品</a></li>
  </ul>   
  <h2><span class="icon-pencil-square-o"></span>产品中心</h2>
  <ul>
    <li class="pro_tz"><a target="right"><span class="icon-caret-right"></span>特征设置</a></li>
    <li class="pro_tzm"><a target="right"><span class="icon-caret-right"></span>产品列表</a></li>      
  </ul> 
  <h2><span class="icon-pencil-square-o"></span>新闻中心</h2>
  <ul>
    <li class="new_z"><a target="right"><span class="icon-caret-right"></span>新闻列表</a></li>       
  </ul>
  <h2><span class="icon-pencil-square-o"></span>定制服务</h2>
  <ul>
    <li><a  target="right"><span class="icon-caret-right"></span>预约设置</a></li>
    <li><a  target="right"><span class="icon-caret-right"></span>量尺设置</a></li>
    <li><a  target="right"><span class="icon-caret-right"></span>设计区域</a></li>        
  </ul>
  <h2><span class="icon-pencil-square-o"></span>关于我们</h2>
  <ul>
    <li><a target="right"><span class="icon-caret-right"></span>公司简介</a></li>
    <li><a target="right"><span class="icon-caret-right"></span>荣誉资质</a></li>
    <li><a target="right"><span class="icon-caret-right"></span>公司文化</a></li>        
  	<li><a target="right"><span class="icon-caret-right"></span>发展历程</a></li> 
  </ul>
  <h2><span class="icon-pencil-square-o"></span>留言管理</h2>
  <ul>
    <li><a  target="right"><span class="icon-caret-right"></span>留言列表</a></li>
  </ul>
</div>
<!--脚本区-->
<script type="text/javascript">
$(function(){
  $(".leftnav h2").click(function(){
	  $(this).next().slideToggle(200);	
	  $(this).toggleClass("on"); 
  })
  $(".leftnav ul li a").click(function(){
	    $("#a_leader_txt").text($(this).text());
  		$(".leftnav ul li a").removeClass("on");
		$(this).addClass("on");
  })
});
</script>
<ul class="bread">
  <li><a href="{:U('Index/info')}" target="right" class="icon-home"> 首页</a></li>
  <li><a href="##" id="a_leader_txt">网站信息</a></li>
</ul>
<!--内容区-->
<div class="panel admin-panel admin">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增加内容</strong></div>
  <div class="body-content">
    <div class="form-x">  
      <div class="form-group">
        <div class="label">
          <label>特征名称：</label>
        </div>
        <div class="field">
          <input id="tu_name" type="text" class="input w25" placeholder="如材质" value="" name="title" data-validate="required:请输入标题" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
	        <div class="label">
	          <label>特征属性：</label>
	        </div>
	        <div class="field tx_add">
	        		<div class="t1">
			          	<input type="text" class="input w50" value="" placeholder="如海棠木" name="title"  />
			          <div class="tips"></div>
	        		</div>
	        </div>
	        <div style="clear: both; position: relative; left: 135px;"><button class="button bg-main adds">+</button></div>
      </div>   
      <div class="clear"></div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o sub" > 提交</button>
           <a href="/admin" class="button bg-main icon-check-square-o " >返回</a>
        </div>
      </div>
    </div>
  </div>
  	  <script>
  	  	//点击加号以后生成新个input
  	  	var ss=1;
  	  	$(".adds").click(function(){
  	  			ss++;
  	  			$(".tx_add").append("<div style='margin-left: 15px;' class=t"+ss+"><span class='xx'>x</span><input class='input w50'/></div>")
  	  	})
  	  $(".tx_add").delegate('span.xx','click',function(){
  	  		$(this).parent().remove();//删除节点
  	  })
		   
				$(".sub").click(function(){
						var name=$("#tu_name").val();
						var miao='';
						var leng=$(".tx_add").children().length;
						for(let i=0;i<leng;i++){
							let tzdata=$(".tx_add>div:eq("+i+")>input").val();
							miao+=tzdata+"*/*"
						}
						if(name!=''){//必须有名字和图片
								$.ajax({
									type:"post",
									url:"/admin/home_tzadd",
									data:{
										 "name":name,
										 "miao":miao
									},
									dataType: 'JSON',
									async:true,
									success:function(data){
										if(data.result==1){
											alert("添加成功");
											$("#tu_name").val('');
											$(".tx_add>div:first-child>input").val('')
											for(let j=1;j<leng;j++){
												$(".tx_add>div:eq(1)").remove();
											}
										}
									}
								});
						}
				})
	  </script>
</div>
</body>
</html>