<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title>添加同款产品</title>
<link rel="stylesheet" href="../css/pintuer.css">
<link rel="stylesheet" href="../css/admin.css">
<link rel="stylesheet" href="../css/cropper.css" />
<script src="../js/jquery-1.11.3.js"></script>
<script src="../js/pintuer.js"></script>
<script src="../js/cropper.js"></script>

<!--引入富文本比较器的js-->
<script type="text/javascript" charset="UTF-8" src="../ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="UTF-8" src="../ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="UTF-8" src="../ueditor/lang/zh-cn/zh-cn.js"></script>
<style>
#cropedBigImg{
min-height:40px;
padding:0px;

}
</style>
</head>
<body>
	<div class="header bg-main">
	  <div class="logo margin-big-left fadein-top">
	    <h1><img src="../images/y.jpg" class="radius-circle rotate-hover" height="50" alt="" />森源艺佳后台管理中心</h1>
	  </div>
	  <div class="head-l"><a class="button button-little bg-green" href="http://www.chengppcc.cn/" target="_blank"><span class="icon-home"></span> 前台首页</a> &nbsp;&nbsp;<a href="##" class="button button-little bg-blue"><span class="icon-wrench"></span> 清除缓存</a> &nbsp;&nbsp;<a class="button button-little bg-red" href="/admin/enter"><span class="icon-power-off"></span> 退出登录</a> </div>
</div>
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增加内容</strong></div>
  <div class="body-content">
    <div class="form-x">  
      <div class="form-group">
        <div class="label">
          <label>图片：</label>
        </div>
        <div class="container">
	        <input type="file" id="file">
	        <img src="" alt="" id="img">
		    </div>
		    <div class="preview">
				<img src="" alt="" id="imga">
		   	</div>
		   	<div style="clear:both">
		   		<button class="button bg-main qie">裁剪</button>
		   	</div>
		   	<div class="field hidden jie">
		   		<div class="imgss">
		   			<img id="cropedBigImg" name="img" class="input tips"/>
		   		</div>
		   	</div>
      </div>
      <div class="clear"></div>

      <div class="form-group">
        <div class="label">
          <label></label>
          <div class="hidden" id="flag_biao"></div>
        </div>
        <div class="field subtt">
          	<button class="button bg-main icon-check-square-o sub" > 提交</button>
           <a href="/admin/homestzmadd" class="button bg-main icon-check-square-o " >返回</a>
        </div>
      </div>
    </div>
  </div>
  	  <script>
  	  	var t_id;
  	  	(function(){
  	  		var reg = new RegExp(/[^=]+/g);//^以什么开头，匹配全部   
			var r = window.location.search.substr(1).match(reg); 
			t_id=parseInt(r[1]);
			$("#flag_biao").html(t_id);
  	  	})()
		   /******************************裁剪****************************/
		  	var image = document.getElementById('img');
	        var cropper, canvas;
	        var wid,hei
	        $('#file').change(function(e){
	            var file;
	            $('#img').attr({'src': ''});//清空之前的
	            $("#imga").attr({'src': ''})
	            var files = e.target.files;
	             if (files && files.length > 0) {
	                file = URL.createObjectURL(files[0]);
	                $('#img').attr({'src': file});
	                var images= new Image();
             		images.onload=function(){
             			var width=parseInt(images.width);
             			var height=parseInt(images.height);
             			if(width>height){
             				wid=3;
             				hei=2;
             			}else{
             				wid=2;
             				hei=3;
             			}
             		}
             		images.src=file;
	            }
	             var cropper = new Cropper(image,{
	             	//裁剪框比例
					aspectRatio: wid/hei,    
					viewMode:1,
					background:false,
					zoomable:false,//是否允许放大图片
					scalable:true,//是否允许缩小图片
					dragMode :'crop',
	                cropBoxResizable:true,
	                autoCropArea:0.8,//定义自动裁剪面积大小(百分比)和图片进行对比
	               	mouseWheelZoom:true,//是否允许通过鼠标滚轮来缩放图片
	                autoCrop:true,//自动裁剪
	                background:true,
	                modal:true,
	                guides:true,
	                highlight:false,   
	                resizable:true,
                crop: function (event) { //剪裁框发生变化执行的函数。
                    canvas = cropper.getCroppedCanvas({  //使用canvas绘制一个宽和高200的图片
  						width: 780,
                        height: 520,
                    });
                    $('#imga').attr("src", canvas.toDataURL("image/png", 0.3))  //使用canvas toDataURL方法把图片转换为base64格式
                	//当图片存放
                	$(".qie").click(function(){
                		$("#cropedBigImg").attr("src", canvas.toDataURL("image/png", 0.3))
                		$(".container").addClass('hidden');
                		$(".preview").addClass('hidden');
                		$(".jie").removeClass('hidden');
                		$(".qie").addClass("hidden");
                	})
                	
                }
            });
           
        })
		//将base64格式图片转换为文件形式
	    function dataURLtoBlob(dataurl) {  
	        var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
	            bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
	        while (n--) {
	            u8arr[n] = bstr.charCodeAt(n);
	        }
	        return new Blob([u8arr], { type: mime });
	    }	
		   /**********************************************************/
				$(".sub").click(function(){	
					
					var c_id=parseInt($("#flag_biao").html());
					console.log(c_id);
					var c_img=$('#image1').prop('files');//获取文件图片
					if(img.length!=0){//必须有名字和图片
					var file = dataURLtoBlob($('#imga').attr("src"));  //将base64格式图片转换为文件形式
    				var formData = new FormData();
    				var newImg = new Date().getTime() + '.png';   //给图片添加文件名   如果没有文件名会报错
    				formData.append('file', file, newImg)  //formData对象添加文件
    				$.ajax({
						type:"post",
						url:"/admin/tzmSTAddImage"+"?id="+c_id+"/0",
						data:formData,
						dataType: 'JSON',
						contentType:false,
						processData:false,
						success:function(data){
							if(data.result==1){
								alert("上传成功");
								//将添加图片那个共同释放出来
									$(".container").removeClass('hidden');
				            		$(".preview").removeClass('hidden');
				            		$(".jie").addClass('hidden');
				            		$(".qie").removeClass("hidden");
								if(confirm("是否进行上传同款产品的其他图片")){
									window.location='/admin/tzmimages'+'?c_id='+c_id;
								}else{//否则返回到
									window.location='/admin/homestzmadd'
								}
							}
						}
					});
						
							
					}
				})
	  </script>
</div>
</body>
</html>