<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<title>森源艺佳--关于我们</title>
	<link rel="stylesheet" href="css/public.css" />
	<link rel="stylesheet" href="css/aboutMe.css" />
	<script type="text/javascript" src="js/jquery.min.js" ></script>
</head>
	<body>
		
		<div class="header">
			 <img src="images/logo.jpg" />
			 <span><img src="images/call.jpg" style="width:35px;margin-top:10px;margin-right:5px;"> <i>400-6333-701</i></span>
			 <p>————  &nbsp;&nbsp;森 态 健 康  &nbsp; &nbsp; 源 于 自 然   &nbsp; &nbsp; 100% 实 木  &nbsp;————</p>
		</div>
	<div class="nav_background">
		<div class="nav">
			<ul>
				<li><a href="/" >网站首页</a></li>
				<li><a href="aboutUs" class="hover">关于我们</a></li>
				<li><a href="productCenter">产品中心</a></li>
				<li><a href="news">新闻中心</a></li>
				<li><a href="householdMaintenance">家居保养</a></li>
				<li><a href="serviceAssurance">服务保障</a></li>
				<li><a href="storesNavigation">门店导航</a></li>
				<li><a href="JoinTheService">加盟服务</a></li>
				<li><a href="customizedService">定制服务</a></li>
			</ul>
		
		</div>
	</div>
	<!-- 图片上的文字-->
	<div class="intro_background"> <!--首页简介-->
		  <div class="Masked">   <!--遮罩层-->
			<div id="main_box">
				<div id="main">
					<div id="main_top">
						<p>——— ABOUT US ———</p>
					</div>
					<div id="main_center">
					  <div class="border">			  
						<div class="bor">
							<p><span>走进森源艺佳...</span></p>
						</div>
					  </div>
					</div>
					<div id="main_bottom">
						<p>全/方/位&nbsp;&nbsp;&nbsp;&nbsp;多/角/度&nbsp;&nbsp;&nbsp;&nbsp;展/示/我/们/的/实/力</p>
					</div>
				</div>
			</div>
		  </div>
	</div>  
	<!--公司简介-->
	<div id="inter">	
		<div id="inter_box" class="lf">
			<h3>公司简介</h3>
			<div style="margin-top:20px;">
				<p>北京森源艺佳家具有限公司成立于2007年，座落于北京通州工业园，公司是一家专业从事高档实木家具的大型制造企业，拥有一座大型
				现代化标准厂房及一-批素质优秀的管理人才，现已拥有3万平方米的现代化生产基地，员工200多人，公司3 进德国、意大利等先进的生
				产流水线设备从而对产品品质的保障形成了先天的条件，在产品研发方面公司拥有专业、精湛的研发队伍，在营销方面公司拥有专业的营
				销队伍和完善的营销体系，集研发、生产、销售于一体。</p>
				<p>森源艺佳家具是一家制造高品质实木产品的专业厂家，通过专业的人体工程学和对家具文化的研究，创造出最经典的设计，并最终引导居
				家文化。公司产品包括实木餐台椅、茶几、餐柜、酒柜、电视柜，具备完整的客厅系列和餐厅系列。一直以来公司都以优质的进口原材料、
				并经过精挑细选;对工艺公司精益求精，以其独特的设计风格、精巧的工艺、真诚的服务，赢得广大客户的青睐，获得国家二十多项外观设
				计专利，并成为行业产品原创设计的  领航者。
				</p>
			</div>
		</div>
	</div>
	<!-- 荣誉资质-->
	<div id="honor">
		<div class="imgs">
			<h3>荣誉资质</h3>
			<ul class="lf">
				<li><img src="images/honor01.jpg"></li>
				<li><img src="images/honor02.jpg"></li>
				<li><img src="images/honor03.jpg"></li>
				<li><img src="images/honor04.jpg"></li>
			</ul>
		</div>
	</div>
	<!-- 企业文化   部分  -->
	<div id="qiye" class="clear">
		<div id="qiye_box">
			<h3>企业文化</h3>
			<div id="qiye_main">
				<div class="qiye_mains lf">
					<div class="qiye_top" >
						<p class="p">宗旨</p><p>PURPOSE</p>
					</div>
					<div class="qiye_bottom">
						<p>服务社会、造福人类、</p><p>推动全球实木家具业健康发展。</p>
					</div>
				</div>
				
				<div class="qiye_mains lf">
					<div class="qiye_top" style="background:#ab82c6">
						<p class="p">目标</p><p>TARGET</p>
					</div>
					<div class="qiye_bottom">
						<p>建百年基业、</p><p>立百年品牌。</p>
					</div>
				</div>

				<div class="qiye_mains lf">
					<div class="qiye_top" style="background:#82c6a8">
						<p class="p">理念</p><p>IDEA</p>
					</div>
					<div class="qiye_bottom">
						<p>以人为本、开放、</p><p>共赢、做大做强。</p>
					</div>
				</div>

				<div class="qiye_mains lf">
					<div class="qiye_top" style="background:#86c2c5	">
						<p class="p">使命</p><p>MISSION</p>
					</div>
					<div class="qiye_bottom">
						<p>致力于打造终端店面</p><p>运营管理第一服务商。</p>
					</div>
				</div>
				<div class="qiye_mains lf">
					<div class="qiye_top" style="background:#bcc783">
						<p class="p">愿景</p><p>VISION</p>
					</div>
					<div class="qiye_bottom">
						<p style="margin-left:30px;">成为国际级的实木家居企业。</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 发展历程   部分  -->
	<div id="deve">
		<div id="deve_box">
			<h3>发展历程</h3>
			<div id="deve_main">
				<div class="deve_main one lf">
					<p>2007</p>
					<h6>北京森源艺佳家具有限公</br>司成立于2007年，坐落于<br/>北京通州工业园</h6>
				</div>
				<div class="deve_main two lf">
					<p>2010</p>
					<h6>北京森源艺佳家具有限公<br/>司成立于2007年，坐落于<br/>北京通州工业园</h6>
				</div>
				<div class="deve_main three lf">
					<p>2012</p>
					<h6>北京森源艺佳家具有限公<br/>司成立于2007年，坐落于<br/>北京通州工业园</h6>
				</div>
				<div class="deve_main four lf">
					<p>2014</p>
					<h6>北京森源艺佳家具有限公<br/>司成立于2007年，坐落于<br/>北京通州工业园</h6>
				</div>
				<div class="deve_main five lf">
					<p>2016</p>
					<h6>北京森源艺佳家具有<br/>限公司成立于2007<br/>年，坐落于北京通州<br/>工业园。</h6>
				</div>
				<div class="deve_main six lf">
					<p>2018</p>
					<h6>北京森源艺佳家具有限公<br/>司成立于2007年，坐落于<br/>北京通州工业园</h6>
				</div>
				
			</div>		
		</div>
	</div>
	<!--页面底部-->
	<div id="footer_background">
	<div id="footer">
		<p>———— &nbsp; CONTACT &nbsp; ————</p>
		<div id="footer-left" class="lf">
			<ul class="top">
				<li><b>您好，HELLO!</b></li>
				<li>
					<p>
						感谢您来到北京森源艺佳家居有限公司，若您有问题咨询或有合作意向，可以给我们留言。<br/>也可以使用以下方式联系我们，我们将仅尽快给您回复，并为您提供真诚的服务，谢谢！
					</p>
				</li>
			</ul>
			<ul class="footer">
				<li class="name">张三</li>
				<li class="num">12345678910</li>
				<li class="email">hh_liujie@163.com</li>
				<li class="www">http://www.bjsenyuanyijia.com/</li>
			</ul>
		</div>
		<div id="footer-right" class="rt">
			<h3>我要留言</h3>
			<div class="form">
				<p>您的称呼 : <input type="text" name="name"></p>
				<p>联系电话 : 
					<input  id="phone" type="text" name="phone"/>
					<b class="jd">*</b>
				</p>
				<p><span>留言内容 :</span> <textarea id="cct" name="content"></textarea></p>
				<button id="sub_data">提交留言</button>
			</div>
		</div>
		<div class="IMG">
		<img class="our1" src="images/our1.jpg"/>
		<img class="our2" src="images/our2.png"/></div>
	</div>
	</div>
	<script src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/public.js" ></script>
</body>
</html>