<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>产品详情页</title>
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/ProductList.css" />
		<script type="text/javascript" src="js/jquery.min.js" ></script>
	<body>
		<div class="header">
			 <img src="images/logo.jpg" />
			 <span><img src="images/call.jpg" style="width:35px;margin-top:10px;margin-right:5px;"> <i>400-6333-701</i></span>
			 <p>————  &nbsp;&nbsp;森 态 健 康  &nbsp; &nbsp; 源 于 自 然   &nbsp; &nbsp; 100% 实 木  &nbsp;————</p>
		</div>
	<div class="nav_background">
		<div class="nav">
			<ul>
				<li><a href="/" >网站首页</a></li>
				<li><a href="aboutUs">关于我们</a></li>
				<li><a href="productCenter" class="hover">产品中心</a></li>
				<li><a href="news">新闻中心</a></li>
				<li><a href="householdMaintenance">家居保养</a></li>
				<li><a href="serviceAssurance">服务保障</a></li>
				<li><a href="storesNavigation">门店导航</a></li>
				<li><a href="JoinTheService">加盟服务</a></li>
				<li><a href="customizedService">定制服务</a></li>
			</ul>
		</div>
	</div>
	<div class="intro_background"> <!--首页简介-->
		  <div class="Masked">   <!--遮罩层-->
			<div id="main_box">
				<div id="main">
					<div id="main_top">
						<p>——— ABOUT US ———</p>
					</div>
					<div id="main_center">
					  <div class="border">			  
						<div class="bor">
							<p><span>走进森源艺佳...</span></p>
						</div>
					  </div>
					</div>
					<div id="main_bottom">
						<p>全/方/位&nbsp;&nbsp;&nbsp;&nbsp;多/角/度&nbsp;&nbsp;&nbsp;&nbsp;展/示/我/们/的/实/力</p>
					</div>
				</div>
			</div>
		  </div>
	</div>  
	<div class="refer">
		<ul>
			<!--<li>
				<span>材质 :</span>
				<p>
				<b class="hover">全部</b>
				<b>海棠木</b>
				<b>乌丝楠木</b>
				<b>其他</b>
				</p>
			</li>
			<li>
				<span>材质 :</span>
				<p>
				<b class="hover">全部</b>
				<b>海棠木</b>
				<b>乌丝楠木</b>
				<b>其他</b>
				</p>
			</li>
			<li>
				<span>材质 :</span>
				<p>
					<b class="hover">全部</b>
					<b>海棠木</b>
					<b>乌丝楠木</b>
					<b>其他</b>
					<b>全部</b>
					<b>海棠木</b>
					<b>乌丝楠木</b>
					<b>其他</b>
					<b>全部</b>
					<b>海棠木</b>
					<b>乌丝楠木</b>
					<b>其他</b>
					<b>全部</b>
					<b>海棠木</b>
					<b>乌丝楠木</b>
					<b>其他</b>
				</p>
			</li>-->
		</ul>
		<div class="details">
			<div class="details_img">
				<!--<img src="images/Proct.jpg" />-->
				<div>
					<ul>
						<!--<li><img src="images/Proct.jpg" class="hover" /></li>
						<li><img src="images/1.jpg" /></li>
						<li><img src="images/2.jpg" /></li>
						<li><img src="images/3.jpg" /></li>
						<li><img src="images/4.jpg" /></li>
						<li><img src="images/2.jpg" /></li>
						<li><img src="images/3.jpg" /></li>
						<li><img src="images/4.jpg" /></li>-->
					</ul>
				</div>
				<span class="btn_L"><img src="images/feel3.png" /></span>
				<span class="btn_R"><img src="images/feel4.png"/></span>
			</div>
			<div class="details_font">
					<h3><b></b><!--海棠木 | 客厅 |客厅组合KTZH01--></h3>
					<p>
						
					</p>
					<div class="contact"> <!--联系方式-->
						咨询热线 :<span>1580323696</span>
					</div>  
				</div>
		</div>
		<div class="list">
			 <p>相关产品推荐</p>
			 <ul style="height: 650px;">
			 	<!--<li><a href="#">
			 		<img src="images/neews.jpg" />
			 		<h5>客厅组合</h5></a>
			 	</li>
			 	<li><a href="#">
			 		<img src="images/neews.jpg" />
			 		<h5>客厅组合</h5></a>
			 	</li>
			 	<li><a href="#">
			 		<img src="images/neews.jpg" />
			 		<h5>客厅组合</h5></a>
			 	</li>
			 	<li><a href="#">
			 		<img src="images/neews.jpg" />
			 		<h5>客厅组合</h5></a>
			 	</li>
			 	<li><a href="#">
			 		<img src="images/neews.jpg" />
			 		<h5>客厅组合</h5></a>
			 	</li>
			 	<li><a href="#">
			 		<img src="images/neews.jpg" />
			 		<h5>客厅组合</h5></a>
			 	</li>-->
			 </ul>
		</div>
	</div>
	<!--页面底部-->
	<div id="footer_background">
	<div id="footer">
		<p>———— &nbsp; CONTACT &nbsp; ————</p>
		<div id="footer-left" class="lf">
			<ul class="top">
				<li><b>您好，HELLO!</b></li>
				<li>
					<p>
						感谢您来到北京森源艺佳家居有限公司，若您有问题咨询或有合作意向，可以给我们留言。<br/>也可以使用以下方式联系我们，我们将仅尽快给您回复，并为您提供真诚的服务，谢谢！
					</p>
				</li>
			</ul>
			<ul class="footer">
				<li class="name">张三</li>
				<li class="num">12345678910</li>
				<li class="email">hh_liujie@163.com</li>
				<li class="www">http://www.bjsenyuanyijia.com/</li>
			</ul>
		</div>
		<div id="footer-right" class="rt">
			<h3>我要留言</h3>
			<div class="form">
				<p>您的称呼 : <input type="text" name="name"></p>
				<p>联系电话 : 
					<input  id="phone" type="text" name="phone"/>
					<b class="jd">*</b>
				</p>
				<p><span>留言内容 :</span> <textarea id="cct" name="content"></textarea></p>
				<button id="sub_data">提交留言</button>
			</div>
		</div>
		<div class="IMG">
		<img class="our1" src="images/our1.jpg"/>
		<img class="our2" src="images/our2.png"/></div>
	</div>
	</div>
	<script type="text/javascript" src="js/public.js" ></script>
	<script type="text/javascript" src="js/details.js" ></script>
	</body>
</html>
