<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>加盟服务</title>
		<link rel="stylesheet" href="css/public.css" />
	    <link rel="stylesheet" href="css/blaack.css" />
	    
	</head>
	<body>
		<div class="header">
			 <img src="images/logo.jpg" />
			 <span><img src="images/call.jpg" style="width:35px;margin-top:10px;margin-right:5px;"> <i>400-6333-701</i></span>
			 <p>————  &nbsp;&nbsp;森 态 健 康  &nbsp; &nbsp; 源 于 自 然   &nbsp; &nbsp; 100% 实 木  &nbsp;————</p>
		</div>
	<div class="nav_background">
		<div class="nav">
			<ul>
				<li><a href="/" >网站首页</a></li>
				<li><a href="aboutUs">关于我们</a></li>
				<li><a href="productCenter">产品中心</a></li>
				<li><a href="news">新闻中心</a></li>
				<li><a href="householdMaintenance">家居保养</a></li>
				<li><a href="serviceAssurance">服务保障</a></li>
				<li><a href="storesNavigation">门店导航</a></li>
				<li><a href="JoinTheService" class="hover">加盟服务</a></li>
				<li><a href="customizedService">定制服务</a></li>
			</ul>
		</div>
	</div>
	<div class="intro_background"> <!--首页简介-->
		  <div class="Masked">   <!--遮罩层-->
			<div id="main_box">
				<div id="main">
					<div id="main_top">
						<p>——— ABOUT US ———</p>
					</div>
					<div id="main_center">
					  <div class="border">			  
						<div class="bor">
							<p><span>走进森源艺佳...</span></p>
						</div>
					  </div>
					</div>
					<div id="main_bottom">
						<p>全/方/位&nbsp;&nbsp;&nbsp;&nbsp;多/角/度&nbsp;&nbsp;&nbsp;&nbsp;展/示/我/们/的/实/力</p>
					</div>
				</div>
			</div>
		  </div>
	</div>  
		<div id="jiameng">
			<div id="jiameng_lf">
				<ul>
					<li><a class="hover">加盟优势</a></li>
					<li><a>加盟支持</a></li>
					<li><a>加盟条件</a></li>
					<li><a>加盟流程</a></li>
				</ul>
			</div>
			<div id="jiameng_rt">
				<div class="Text">
					<div class="text">
						
						<p>&nbsp;&nbsp;&nbsp;&nbsp;柏森家具敏锐地把握潮流趋势，紧跟当今世界居室环境装饰风格，
							每年都推出引领消费时尚的新产品。<br/>以差异化的产品风格、原创的独到设计，涵盖了当前
							国际家居界最为风行的时尚元素，全面满足各个阶层对<br/>家具产品的独特要求。
						</p>
					</div>
					<div class="text">
						<b>2、公司强有力的品牌支撑</b>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;柏森经过十三年发展，如今已成为中国实木家具领导品牌，确定了完整的品
							牌发展规划，以创建中国一<br/>流品牌为追求，以贴近市场、贴近消费者的务实手段，全面建设、提升
							柏森品牌。<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;品牌运作不断创新，柏森家具明确细分市场，引领中国家居业新趋势，强力
							启动柏森品牌提升计划，全<br>面性媒体硬性推广、软性渗透，针对不同区域推进专项区域广告，把握、
								引导家居业市场发展潮流、趋势。
						</p>
					</div>
					<div class="text">
						<b>3、完善的培训机制</b>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;柏森每一个加盟专卖店的工作人员，都将不定期到公司总部培训，使其具备系
							统的家具知识、丰富的销<br>售经验，并可按消费者的需要，针对不同的环境和空间提供专业咨询、建议、介绍、样品展示、模拟生活
							空<br>间的服务等。
						</p>
					</div>
					<div class="text">
						<b>4、 服务体系支持</b>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;售前、售中、售后的完善支持。</p>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;公司总部设立免费服务专线，提高加盟商、消费者问题的反馈速度和解决效率。</p>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;加强终端服务指导，提升顾客满意度。</p>
					</div>
				</div>
				<div class="Text" style="display: none;">
					<div class="text">
						<b>1、赋有时尚魅力的系列产品</b>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;柏森家具敏锐地把握潮流趋势，紧跟当今世界居室环境装饰风格，
							每年都推出引领消费时尚的新产品。<br/>以差异化的产品风格、原创的独到设计，涵盖了当前
							国际家居界最为风行的时尚元素，全面满足各个阶层对<br/>家具产品的独特要求。
						</p>
					</div>
					<div class="text">
						
						<p>&nbsp;&nbsp;&nbsp;&nbsp;柏森经过十三年发展，如今已成为中国实木家具领导品牌，确定了完整的品
							牌发展规划，以创建中国一<br/>流品牌为追求，以贴近市场、贴近消费者的务实手段，全面建设、提升
							柏森品牌。<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;品牌运作不断创新，柏森家具明确细分市场，引领中国家居业新趋势，强力
							启动柏森品牌提升计划，全<br>面性媒体硬性推广、软性渗透，针对不同区域推进专项区域广告，把握、
								引导家居业市场发展潮流、趋势。
						</p>
					</div>
					<div class="text">
						<b>3、完善的培训机制</b>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;柏森每一个加盟专卖店的工作人员，都将不定期到公司总部培训，使其具备系
							统的家具知识、丰富的销<br>售经验，并可按消费者的需要，针对不同的环境和空间提供专业咨询、建议、介绍、样品展示、模拟生活
							空<br>间的服务等。
						</p>
					</div>
					<div class="text">
						<b>4、 服务体系支持</b>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;售前、售中、售后的完善支持。</p>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;公司总部设立免费服务专线，提高加盟商、消费者问题的反馈速度和解决效率。</p>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;加强终端服务指导，提升顾客满意度。</p>
					</div>
				</div>
				<div class="Text" style="display: none;">
					<div class="text">
						<b>1、赋有时尚魅力的系列产品</b>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;柏森家具敏锐地把握潮流趋势，紧跟当今世界居室环境装饰风格，
							每年都推出引领消费时尚的新产品。<br/>以差异化的产品风格、原创的独到设计，涵盖了当前
							国际家居界最为风行的时尚元素，全面满足各个阶层对<br/>家具产品的独特要求。
						</p>
					</div>
					<div class="text">
						<b>2、公司强有力的品牌支撑</b>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;柏森经过十三年发展，如今已成为中国实木家具领导品牌，确定了完整的品
							牌发展规划，以创建中国一<br/>流品牌为追求，以贴近市场、贴近消费者的务实手段，全面建设、提升
							柏森品牌。<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;品牌运作不断创新，柏森家具明确细分市场，引领中国家居业新趋势，强力
							启动柏森品牌提升计划，全<br>面性媒体硬性推广、软性渗透，针对不同区域推进专项区域广告，把握、
								引导家居业市场发展潮流、趋势。
						</p>
					</div>
					<div class="text">
						
						<p>&nbsp;&nbsp;&nbsp;&nbsp;柏森每一个加盟专卖店的工作人员，都将不定期到公司总部培训，使其具备系
							统的家具知识、丰富的销<br>售经验，并可按消费者的需要，针对不同的环境和空间提供专业咨询、建议、介绍、样品展示、模拟生活
							空<br>间的服务等。
						</p>
					</div>
					<div class="text">
						<b>4、 服务体系支持</b>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;售前、售中、售后的完善支持。</p>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;公司总部设立免费服务专线，提高加盟商、消费者问题的反馈速度和解决效率。</p>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;加强终端服务指导，提升顾客满意度。</p>
					</div>
				</div>
				<div class="Text" style="display: none;">
					<div class="text">
						<b>1、赋有时尚魅力的系列产品</b>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;柏森家具敏锐地把握潮流趋势，紧跟当今世界居室环境装饰风格，
							每年都推出引领消费时尚的新产品。<br/>以差异化的产品风格、原创的独到设计，涵盖了当前
							国际家居界最为风行的时尚元素，全面满足各个阶层对<br/>家具产品的独特要求。
						</p>
					</div>
					<div class="text">
						<b>2、公司强有力的品牌支撑</b>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;柏森经过十三年发展，如今已成为中国实木家具领导品牌，确定了完整的品
							牌发展规划，以创建中国一<br/>流品牌为追求，以贴近市场、贴近消费者的务实手段，全面建设、提升
							柏森品牌。<br/>
							&nbsp;&nbsp;&nbsp;&nbsp;品牌运作不断创新，柏森家具明确细分市场，引领中国家居业新趋势，强力
							启动柏森品牌提升计划，全<br>面性媒体硬性推广、软性渗透，针对不同区域推进专项区域广告，把握、
								引导家居业市场发展潮流、趋势。
						</p>
					</div>
					<div class="text">
						<b>3、完善的培训机制</b>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;柏森每一个加盟专卖店的工作人员，都将不定期到公司总部培训，使其具备系
							统的家具知识、丰富的销<br>售经验，并可按消费者的需要，针对不同的环境和空间提供专业咨询、建议、介绍、样品展示、模拟生活
							空<br>间的服务等。
						</p>
					</div>
					<div class="text">
						<b>4、 服务体系支持</b>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;售前、售中、售后的完善支持。</p>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;公司总部设立免费服务专线，提高加盟商、消费者问题的反馈速度和解决效率。</p>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;加强终端服务指导，提升顾客满意度。</p>
					</div>
				</div>
			</div>
		</div>
		<!--页面底部-->
	<div id="footer_background">
	<div id="footer">
		<p>———— &nbsp; CONTACT &nbsp; ————</p>
		<div id="footer-left" class="lf">
			<ul class="top">
				<li><b>您好，HELLO!</b></li>
				<li>
					<p>
						感谢您来到北京森源艺佳家居有限公司，若您有问题咨询或有合作意向，可以给我们留言。<br/>也可以使用以下方式联系我们，我们将仅尽快给您回复，并为您提供真诚的服务，谢谢！
					</p>
				</li>
			</ul>
			<ul class="footer">
				<li class="name">张三</li>
				<li class="num">12345678910</li>
				<li class="email">hh_liujie@163.com</li>
				<li class="www">http://www.bjsenyuanyijia.com/</li>
			</ul>
		</div>
		<div id="footer-right" class="rt">
			<h3>我要留言</h3>
			<div class="form">
				<p>您的称呼 : <input type="text" name="name"></p>
				<p>联系电话 : 
					<input  id="phone" type="text" name="phone"/>
					<b class="jd">*</b>
				</p>
				<p><span>留言内容 :</span> <textarea id="cct" name="content"></textarea></p>
				<button id="sub_data">提交留言</button>
			</div>
		</div>
		<div class="IMG">
		<img class="our1" src="images/our1.jpg"/>
		<img class="our2" src="images/our2.png"/></div>
	</div>
	</div>
	<script type="text/javascript" src="js/jquery.min.js" ></script>
	<script type="text/javascript" src="js/public.js" ></script>
	<script type="text/javascript" src="js/blaack.js" ></script>
	</body>
</html>
