<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>服务保障</title>
		<link rel="stylesheet" href="css/public.css" />
		<link rel="stylesheet" href="css/server.css" />
	</head>
	<body>
		<div class="header">
			 <img src="images/logo.jpg" />
			 <span><img src="images/call.jpg" style="width:35px;margin-top:10px;margin-right:5px;"> <i>400-6333-701</i></span>
			 <p>————  &nbsp;&nbsp;森 态 健 康  &nbsp; &nbsp; 源 于 自 然   &nbsp; &nbsp; 100% 实 木  &nbsp;————</p>
		</div>
	<div class="nav_background">
		<div class="nav">
			<ul>
				<li><a href="/" >网站首页</a></li>
				<li><a href="aboutUs">关于我们</a></li>
				<li><a href="productCenter">产品中心</a></li>
				<li><a href="news">新闻中心</a></li>
				<li><a href="householdMaintenance">家居保养</a></li>
				<li><a href="serviceAssurance" class="hover">服务保障</a></li>
				<li><a href="storesNavigation">门店导航</a></li>
				<li><a href="JoinTheService">加盟服务</a></li>
				<li><a href="customizedService">定制服务</a></li>
			</ul>
		</div>
	</div>
	<div class="intro_background"> <!--首页简介-->
		  <div class="Masked">   <!--遮罩层-->
			<div id="main_box">
				<div id="main">
					<div id="main_top">
						<p>——— ABOUT US ———</p>
					</div>
					<div id="main_center">
					  <div class="border">			  
						<div class="bor">
							<p><span>走进森源艺佳...</span></p>
						</div>
					  </div>
					</div>
					<div id="main_bottom">
						<p>全/方/位&nbsp;&nbsp;&nbsp;&nbsp;多/角/度&nbsp;&nbsp;&nbsp;&nbsp;展/示/我/们/的/实/力</p>
					</div>
				</div>
			</div>
		  </div>
	</div>
	<div id="four">
		<img src="images/server_01.png" />
	</div>
	<div class="red_text">
		<p>纯天然绿色环保材质</p>
	</div>
	<div id="banners">
		<div class="banner">
			<img class="lf"  src="images/server_16.jpg" />
			<div class="banner_text lf">
				<p class="banner_text_one">海棠木</p>
				<p class="banner_text_two">海棠木是高端家具用材，由于其纹理的颜色与花梨木类色泽相近也被称为小红木。一般适用于高端实木家具、桥梁、枕木、乐器、手工艺品等。
</p>
				<p class="banner_text_three">1.海棠木干燥性能良好，不易开裂和翘曲，是制作实木家具的良好木材。<br/>
2.管孔肉眼下明显，略少，单管孔，呈斜列或径列;轴向薄壁组织放大镜下明显，木射线放大镜下略见。<br>3.光泽性强，纹理交错;结构细腻，油漆、抛胶黏性能良好耐腐性强。
</p>
			</div>
		</div>
		<div class="banner clear">
			<img class="lf"  src="images/server_19.jpg" />
			<div class="banner_text lf">
				<p class="banner_text_one">海棠木</p>
				<p class="banner_text_two">海棠木是高端家具用材，由于其纹理的颜色与花梨木类色泽相近也被称为小红木。一般适用于高端实木家具、桥梁、枕木、乐器、手工艺品等。
</p>
				<p class="banner_text_three">1.海棠木干燥性能良好，不易开裂和翘曲，是制作实木家具的良好木材。<br/>
2.管孔肉眼下明显，略少，单管孔，呈斜列或径列;轴向薄壁组织放大镜下明显，木射线放大镜下略见。<br>3.光泽性强，纹理交错;结构细腻，油漆、抛胶黏性能良好耐腐性强。
</p>
			</div>
		</div>
	</div>
	<div id="banner_box">
		<div id="banner_box_left">
			<div class="banner_text"><p>层层质检</p></div>
			<div class="banner_box_text">
				<b>木材选料</b>
				<p>针对各类产品设计不同包装，确保运输途中不受损</p>
				<div class="cri"><p></p></div>
			</div>
			<div class="banner_box_text">
				<b>原料检验</b>
				<p>严格监控原材料，保证自然材质</p>
				<div class="cri"><p></p></div>
			</div>
			<div class="banner_box_text">
				<b>辅料检查</b>
				<p>每一道工序都会对辅料进行检查，杜绝不良品</p>
				<div class="cri"><p></p></div>
			</div>
			<div class="banner_box_text">
				<b>结构检测</b>
				<p>专业仪器测量，彻底排除结构上的隐患</p>
				<div class="cri"><p></p></div>
			</div>
			<div class="banner_box_text">
				<b>涂装检测</b>
				<p>对色板样板进行检测，符合标准的才批量生产</p>
				<div class="cri"><p></p></div>
			</div>
			<div class="banner_box_text">
				<b>包装检测</b>
				<p>针对各类产品设计不同包装，确保运输途中不受损</p>
			</div>
		</div>
		<div id="banner_box_right" class="rt">
			<div class="banner_right_top">
				<p>30天无理由退换货</p>
			</div>
			<div id="banner_right_text">
			<p>为您提供长达30天无理由退换货期限，我们有信心我们的产品经得起时间的考验。</p>
			<p class="cur">若发现下列情况，将无法进行退换货:
					</p>
			<p>1、退换货需提前沟通，未经沟通确认，强行寄回至仓库的商品;<br>
				2、产品包装、配件、吊牌、发票、赠品、赠券等不完整、人为损坏的商品不予退换;<br>3、安装或使用过的商品不予退换(质量问题除外) ;<br>
				4、任何非正常使用及保管导致出现问题的不予退换;<br>
				5.未经授权，私自维修、改动、不正确安装造市的问题商品不予退换;<br>
				6.定制商品或需要定制期的其它特殊商品;<br>
				7.超30天退货期限的不予退货。<br>
			</p>
			</div>
			<div class="banner_right_top lang">
				<p>一年超长质保，极致购物保障</p>
			</div>
			<p class="p">在服务保障期间出现问题，我们将提供补寄零配件客户自行替换或维修存在故障的商品等服务。</p>
			<div class="banner_right_top height">
				<p>全国五包到家</p>
			</div>
			<p class="p">包长途运输，包同城配送，包搬楼，包安装，包售后</p>
			<img src="images/server_03.png"/>
				
		</div>
	</div>
	
	<!--页面底部-->
	<div id="footer_background">
	<div id="footer">
		<p>———— &nbsp; CONTACT &nbsp; ————</p>
		<div id="footer-left" class="lf">
			<ul class="top">
				<li><b>您好，HELLO!</b></li>
				<li>
					<p>
						感谢您来到北京森源艺佳家居有限公司，若您有问题咨询或有合作意向，可以给我们留言。<br/>也可以使用以下方式联系我们，我们将仅尽快给您回复，并为您提供真诚的服务，谢谢！
					</p>
				</li>
			</ul>
			<ul class="footer">
				<li class="name">张三</li>
				<li class="num">12345678910</li>
				<li class="email">hh_liujie@163.com</li>
				<li class="www">http://www.bjsenyuanyijia.com/</li>
			</ul>
		</div>
		<div id="footer-right" class="rt">
			<h3>我要留言</h3>
			<div class="form">
				<p>您的称呼 : <input type="text" name="name"></p>
				<p>联系电话 : 
					<input  id="phone" type="text" name="phone"/>
					<b class="jd">*</b>
				</p>
				<p><span>留言内容 :</span> <textarea id="cct" name="content"></textarea></p>
				<button id="sub_data">提交留言</button>
			</div>
		</div>
		<div class="IMG">
		<img class="our1" src="images/our1.jpg"/>
		<img class="our2" src="images/our2.png"/></div>
	</div>
	</div>
	</body>
	<script src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/public.js" ></script>
</html>
